#content {
    margin: auto;
    width: 98%;
}

.controlPanel {
    height: 170px;
}

#controlPanel {
    background-image: linear-gradient(to bottom, #dddddd 0%,#eeeeee 49%,#dddddd 100%);
    border-width: 1px;
    border-color: #000;
    border-left-style: solid;
    border-right-style: solid;
    left: 1px;
    right: 1px;
    top: 1px;
}


#filter, #splitfields {

}

#buttons, #splitfields, #filter {
    padding: 5px;
}


.panelFooter, .panelHeader {
    height: 10px;
    min-width: 100px;
}

#panelFooter {
   background-image: linear-gradient(to bottom, #dddddd 0%, #cccccc 100%);
    border-width: 1px;
    border-color: #000;
    border-style: none solid solid solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#panelHeader {
   background-image: linear-gradient(to top, #dddddd 0%, #cccccc 100%);
    background-color: #dddddd;
    border-style: solid solid none solid;
    border-width: 1px;
    border-color: #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#panelWrapper {
    left: 30%;
    opacity: 0.98;
    position: fixed;
    z-index: 1;
}

.spinner {
    background-color: #888;
    border-color: #222;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    bottom: 1px;
    color: #eee;
    left: 1px;
    opacity: .7;
    position: fixed;
    right: 1px;
    text-align: center;
    top: 1px;
    z-index: 2;
}

.spinnerText {
    font-size: 2em;
    font-family: Verdana, Helvetica, sans-serif;
    font-weight: bold;
    left: 45%;
    position: fixed;
    top: 45%;
}

.splitfield {
    display: block;

}

.textAxis path,
.textAxis line,
.lineAxis text{
    visibility: hidden
}

