.chart {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 15rem;
    padding-right: 1rem;
}

.splitfield {
    display: list-item;
}

.textAxis path,
.textAxis line,
.lineAxis text{
    visibility: hidden
}
